* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  overflow:hidden;
}

.blu {
  background-color: rgb(61, 70, 182);
}
.green{
  background-color: rgb(153, 231, 25);
}
.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
/* .relative{
  position: relative;
} */

#logo img {
  float: left;
  height: 10vh;
}
#logo .header_format{
  padding: 1vh 10vh 1vh 0;
}

header ul {
  list-style: none;
}

.header_format{
  line-height: 10vh;
  padding: 2vh 1vh 0 1vh;
}
.a_format {
  text-decoration: none;
  text-transform:uppercase;
  color:white;
}
.btn {
border-radius: 10px;
margin-top: 4vh;
margin-left: 1vh;
padding:1vh 3vh 1vh 3vh;
line-height: 3vh;
}
#btn2 {
border:white solid 1px;
}

.nav.left ul li {
 float:left;
}
.nav.right ul li {
 float:right;
}
