* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 10vh;
  overflow:hidden;
  font-size: 12px;
}

.blu {
  background-color: rgb(61, 70, 182);
}
.green {
  background-color: rgb(153, 231, 25);
}
.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

#logo img {
  float: left;
  height: 10vh;
}
#logo .header_format {
  padding: 1vh 10vh 1vh 0;
}

header ul {
  list-style: none;
}

.header_format {
  line-height: 10vh;
  padding: 2vh 1vh 0 1vh;
}
.a_format {
  text-decoration: none;
  text-transform:uppercase;
  color:white;
}
.btn {
border-radius: 10px;
margin-top: 4vh;
margin-left: 1vh;
padding:1vh 3vh 1vh 3vh;
line-height: 3vh;
}

#btn2 {
border:white solid 1px;
}

.nav.left ul li {
 float:left;
}
.nav.right ul li {
 float:right;
}

section {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
section img {
  width: 80%;
  height: 80vh;
  padding:10vh;
  margin-top: 10vh;
  margin-left: 50vh;
  z-index: -1;
}
.description {
  position: absolute;
  top:30vh;
  width: 50%;
}
#slider_title {
  font-size: 50px;
  color: white;
  margin-bottom: 3vh;
}

.grey {
  background-color: lightgrey;
}
.sottosezione {
  width: 100%;
  height: 30vh;
  text-align: center;
  overflow:hidden;
}
.st_text {
  padding: 13vh;
  }
.st_text p {
  color: grey;
  margin-top: 10px;
}
.colonna{
  width: 33.3%;
  text-align: center;
  float: left;
  padding:10vh;
}
.colonna h3 {
  color: rgb(153, 231, 25);
  margin-bottom: 10px;
}
.colonna p {
  color: grey;
  line-height: 3vh;
  margin-top: 10px;
}
.immagine img{
  height:30vh;
}
.colonna hr{
  width:100px;
  margin: auto;
}

/* FINE PRIMA SEZIONE */
.seconda_sezione {
  padding: 50px;
  height: auto;
}
.foto_sinistra {
  float: left;
  width: 50%;
  height: 40vh;
  background-image: url("../img/mountain.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.descrizione_destra {
  float: left;
  width: 50%;
  height: 40vh;
  max-width: 30%;
  padding-top: 10vh;
}
.descrizione_destra p {
  color: grey;
  line-height: 3vh;
  margin-top: 10px;
}
